/**
tablette
**/
@media (max-width: 1440px){
  img{
    width: 50%;
    text-align: center;
    padding-left: 40px;
    padding-top: 40px;
  }

}

@media (max-width: 991px){
 img{
   width: 80%;
   text-align: center;
   padding-left: 20px;
   padding-top: 30px;
   padding-bottom: 30px;
 }
}
