<h2><a class="nav-link" [routerLink]="['/home']">accueil</a></h2>


<h1>Mes super balades .... </h1>

<div class="container">
    <div class="row">
      <article class="col-lg-5 col-sm-12 text-center">
      <img src="assets/velos.png" alt="velo" width="50%">
        <h2>l'endroit</h2>
      </article>

      <article class="col-lg-5 col-sm-12 text-center">
        <img src="assets/velos.png" alt="velo" width="50%">
      </article>

      <article class="col-lg-5 col-sm-12 text-center">
        <img src="assets/velos.png" alt="velo" width="50%">
      </article>
    </div>
  </div>
