<h2><a class="nav-link" [routerLink]="['/home']">accueil</a></h2>


<h1>Mes super balades .... </h1>

<div class="container">
    <section class="row">
      <article class="col-lg-5 col-lg-12 text-center">
      <img src="assets/velos.png" alt="velo" width="50%">
      </article>

      <article class="col-lg-5 col-lg-12 text-center">
        <img src="assets/velos.png" alt="velo" width="50%">
      </article>

      <article class="col-lg-5 col-lg-12 text-center">
        <img src="assets/velos.png" alt="velo" width="50%">
      </article>
    </section>
  </div>
