<h2><a class="nav-link" [routerLink]="['/home']">accueil</a></h2>

<h1> {{ title }} </h1>

<div class="container">
  <div class="d-flex flex-wrap">
    <div *ngFor="let reading of readings">
      <div class="col-4">
        <article>
          <img src="{{ reading.readingImage }}" width="200px">
          <p><strong>Son nom : {{ reading.readingName }}</strong></p>
          <p><strong>Toute sa description : {{ reading.description }}</strong></p>
        </article>
      </div>
    </div>
  </div>
</div>
