<h2><a class="nav-link" [routerLink]="['/home']">accueil</a></h2>

<h1> {{ title }} </h1>

<div class="container">
  <div class="d-flex flex-wrap">
    <div *ngFor="let crochet of crochets">
      <div class="col-4">
        <article>
          <img src="{{ crochet.crochetImage }}" width="200px">
          <p><strong>Son nom : {{ crochet.crochetName }}</strong></p>
          <p><strong>Toute sa description : {{ crochet.description }}</strong></p>
        </article>
      </div>
    </div>
  </div>
</div>
