<h1 class="text-center">Bienvenue sur mon site de hobbies</h1>

<div class="container">
  <div class="row">
    <section class="bike col-lg-5 col-sm-12 text-center">
      <a class="nav-link" [routerLink]="['/bike']"><img src="assets/velos.png" alt="velo" width="50%"></a>
      <h2> <a class="nav-link" [routerLink]="['/bike']">vélo</a></h2>
    </section>

    <section class="reading col-lg-5 col-sm-12 text-center">
<a class="nav-link" [routerLink]="['/reading']"><img src="assets/romans.png" alt="roman" width="50%"></a>
<h2> <a class="nav-link" [routerLink]="['/reading']">romans</a></h2>
    </section>

    <section class="crochet col-lg-5 col-sm-12 text-center">
<a class="nav-link" [routerLink]="['/crochet']"><img src="assets/crochetpelotte.png" alt="crochet" width="50%"></a>
<h2> <a class="nav-link" [routerLink]="['/crochet']">crochet</a></h2>
    </section>

    <section class="coding col-lg-5 col-sm-12 text-center">
<a class="nav-link" [routerLink]="['/coding']"><img src="assets/angsymfmysqtran.png" alt="code programmation" width="50%"></a>
<h2> <a class="nav-link" [routerLink]="['/coding']">code programmation</a></h2>
    </section>




  </div>
</div>
